* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 20px;
}

.gallery {
    width: 500px;
}

.gallery-base .slick-slide:focus,
.gallery-miniature .slick-slide:focus {
    outline: none;
}

.gallery-base {
    position: relative;
    width: 100%;
}

.gallery-base .slick-prev,
.gallery-base .slick-next {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px;
    height: 60px;
    border: 1px solid #b9b9b9;
    background-color: rgba(30, 30, 30, .7);
    transition-duration: 0.3s;
    cursor: pointer;
    padding: 7px;
    outline: none;
}

.gallery-base .slick-prev:hover,
.gallery-base .slick-next:hover {
    background-color: rgba(30, 30, 30, .8);
    border-color: white;
}

.gallery-base .slick-prev svg,
.gallery-base .slick-next svg {
    width: 100%;
    fill: white;
}

.gallery-base .slick-prev svg {
    transform: rotate(180deg) translateX(5px);
}

.gallery-base .slick-next svg {
    transform: translateX(5px);
}

.gallery-base .slick-prev {
    left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gallery-base .slick-next {
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gallery-base__item {
    height: 500px;
    overflow: hidden;
}

.gallery-base__content {
    visibility: hidden;
}

.gallery-base__content.slick-initialized {
    visibility: visible;
}

.gallery-base__img,
.gallery-miniature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-miniature {
    width: 100%;
    margin-top: 5px;
}

.gallery-miniature__content {
    width: 100%;
    overflow: hidden;
    height: 83px;
}

.gallery-miniature__content.show {
    height: auto;
}

.gallery-miniature .slick-track {
    width: 100% !important;
    transform: translate3d(0px, 0px, 0px) !important;
    margin-left: 0;
    margin-right: 0;
}

.gallery-miniature .slick-current .gallery-miniature__item {
    opacity: 0.6;
}

.gallery-miniature .slick-slide:not(:last-of-type) {
    margin-right: 5px;
    margin-bottom: 5px;
}

.gallery-miniature .slick-slide {
    width: calc((100% / 6 - 5px) + (5px / 6)) !important;
    height: 80px;
}

.gallery-miniature .slick-slide:nth-child(6n) {
    margin-right: 0px;
}

.gallery-miniature__picture,
.gallery-miniature__item {
    width: 100%;
    height: 100%;
}

.gallery-miniature__item {
    cursor: pointer;
    transition-duration: 0.3s;
}

.gallery-more {
    display: none;
    background-color: transparent;
    color: #4c68d4;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0px;
    outline: none;
    user-select: none;
}

.gallery-more.active {
    display: block;
}

.gallery-more.show .gallery-more__icon {
    transform: rotate(180deg);
}

.gallery-more__icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    fill: #4c68d4;
}

/*  */

.gallery-modal {
    display: inline-flex;
    padding: 0;
    width: 1100px;
    padding: 5px;
    user-select: none;
}

.gallery-modal .gallery-base {
    width: calc(100% - 110px);
    padding: 0 5px 0 0;
    height: 90vh;
    overflow: auto;
    font-size: 0;
}

.gallery-modal .gallery-base::-webkit-scrollbar { width: 5px; }
.gallery-modal .gallery-base::-webkit-scrollbar-thumb { background-color: #c1c1c1; border-radius: 5px;}
.gallery-modal .gallery-base::-webkit-scrollbar-button { height: 0; }
.gallery-modal .gallery-base::-webkit-scrollbar-track-piece { background-color: #ffffff;}

.gallery-modal .gallery-miniature {
    width: 110px;
    height: 90vh;
    padding: 0 5px;
    margin-left: 20px;
    overflow: visible;
    margin: 0;
    overflow: auto;
    font-size: 0;
}

.gallery-modal .gallery-miniature::-webkit-scrollbar { width: 5px; }
.gallery-modal .gallery-miniature::-webkit-scrollbar-thumb { background-color: #c1c1c1; border-radius: 5px;}
.gallery-modal .gallery-miniature::-webkit-scrollbar-button { height: 0; }
.gallery-modal .gallery-miniature::-webkit-scrollbar-track-piece { background-color: #ffffff;}

.gallery-modal .gallery-base__content {
    visibility: visible;
}

.gallery-modal .gallery-base__item {
    height: auto;
    margin-bottom: 2px;
}

.gallery-modal .gallery-miniature__content {
    height: 100%;
    overflow: visible;
}

.gallery-modal .gallery-miniature__item {
    margin-bottom: 2px;
}